:root {
    --primary-color: #5c2715;
    --primary-color-hover: #865444;
    --title-color: #0e0e0e;
    --title-color-secondary: #000000;
    --text-color: #331a11;
    --paragraphy-color-light: #727382;
    --body-color: #ffffff;
    --black-color: #000000;
    --white-color: #ffffff;
    --white-color-secondary: #ececec;
    --white-color-third: #fefefe;
}
