<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <!-- Chaset e viewsports -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Title e meta tags de descrição -->
        <title>Naquele NaiPão</title>
        <meta
            name="description"
            content="Padaria naquele naipão, melhores pães franceses do Brasil"
        />
        <meta name="author" content="André Luiz Barros" />
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap"
            rel="stylesheet"
        />
        <!-- Box Icons -->
        <link
            href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
            rel="stylesheet"
        />
        <!-- CSS -->
        <link rel="preload" href="/public/css/index.css" as="style" />
        <link rel="stylesheet" href="/public/css/index.css" />
        <!-- Favicon -->
        <link
            rel="shortcut icon"
            href="/public/assets/favicon.png"
            type="image/x-icon"
        />
    </head>
    <body class="container">
        <header class="header" id="header">
            <nav class="nav container">
                <div class="nav-box">
                    <a href="#" class="nav-logo">
                        <img
                            src="/public/assets/logoHorizontalFundoBrancoAdjusted.png"
                            alt="Logo"
                        />
                    </a>
                </div>
                <div class="nav-menu" id="nav-menu">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a href="#partners" class="nav-link">Parceiros</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contato</a>
                        </li>
                    </ul>
                    <div class="nav-close" id="nav-close">
                        <i class="bx bx-x"></i>
                    </div>
                </div>
                <div class="nav-btns">
                    <div class="nav-toggle" id="nav-toggle">
                        <i class="bx bx-menu"></i>
                    </div>
                </div>
            </nav>
        </header>
        <main class="main">
            <section class="home" id="home">
                <div class="home-container main-container main-grid">
                    <div class="home-data">
                        <h1 class="home-title">
                            Naquele<br />
                            <span class="home-title-secondary"> Naipão </span>
                        </h1>
                        <p class="home-subtitle">
                            Melhores pãezinhos do Brasil
                        </p>
                        <div class="home-btns">
                            <a href="#about" class="button">Sobre nós</a>
                            <a href="#partners" class="button-secondary"
                                >Nossos parceiros
                                <i class="bx bx-right-arrow-alt button_icon"></i
                            ></a>
                        </div>
                        <div class="home-company"></div>
                    </div>
                    <img
                        src="/public/assets/home.jpg"
                        alt="Cesta de pães"
                        class="home-img"
                    />
                </div>
            </section>
            <section id="about">
                <div class="about-container main-container main-grid">
                    <img
                        class="about-img"
                        src="/public/assets/about.jpg"
                        width="413"
                        height="524"
                        alt="Imagem sobre a padaria"
                    />
                    <div class="about-data">
                        <h1 class="about-title">Sobre nós</h1>
                        <p class="about-subtitle">
                            It is a long established fact that a reader will be
                            distracted by the readable content of a page when
                            looking at its layout. The point of using Lorem
                            Ipsum is that it has a more-or-less normal
                            distribution of letters, as opposed to using
                            'Content here, content here', making it look like
                            readable English.
                        </p>
                        <ul class="about-list">
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                        <a href="#partners" class="button"
                            >Parceiros<i
                                class="bx bx-right-arrow-alt about-icon"
                            ></i
                        ></a>
                    </div>
                </div>
            </section>
            <section
                id="partners"
                class="partners-container main-container main-grid"
            >
                <div class="partners-data">
                    <h1 class="partners-title">
                        Nossos
                        <span class="partners-title-secondary">Parceiros</span>
                    </h1>
                    <p class="partners-subtitle">
                        Nossos parceiros são o nosso tesouro
                    </p>
                    <div class="partners-list-container">
                        <div class="partners-list">
                            <span class="partners-icons-title">Parceiro 1</span>
                            <a href="#" class="button-secondary">
                                Saber mais
                                <i class="bx bx-right-arrow-alt button_icon"></i
                            ></a>
                        </div>
                        <div class="partners-list">
                            <span class="partners-icons-title">Parceiro 2</span>
                            <a href="#" class="button-secondary">
                                Saber mais
                                <i class="bx bx-right-arrow-alt button_icon"></i
                            ></a>
                        </div>
                        <div class="partners-list">
                            <span class="partners-icons-title">Parceiro 3</span>
                            <a href="#" class="button-secondary">
                                Saber mais
                                <i class="bx bx-right-arrow-alt button_icon"></i
                            ></a>
                        </div>
                        <div class="partners-list">
                            <span class="partners-icons-title">Parceiro 4</span>
                            <a href="#" class="button-secondary">
                                Saber mais
                                <i class="bx bx-right-arrow-alt button_icon"></i
                            ></a>
                        </div>
                        <div class="partners-list">
                            <span class="partners-icons-title">Parceiro 5</span>
                            <a href="#" class="button-secondary">
                                Saber mais
                                <i class="bx bx-right-arrow-alt button_icon"></i
                            ></a>
                        </div>
                        <div class="partners-list">
                            <span class="partners-icons-title">Parceiro 6</span>
                            <a href="#" class="button-secondary">
                                Saber mais
                                <i class="bx bx-right-arrow-alt button_icon"></i
                            ></a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <hr class="hr-footer" />
        <footer id="contact" class="footer section">
            <div class="footer-container container grid">
                <div class="footer-content">
                    <a href="#" class="footer-logo">
                        <img
                            src="/public/assets/logoHorizontalFundoBrancoAdjusted.png"
                            alt="Logo"
                            class="footer-logo-img"
                        />
                    </a>

                    <p class="footer-description">
                        Uma empresa para trazer o seu pão de cada dia, feito com
                        muito amor e carinho
                    </p>

                    <div class="footer-social">
                        <a href="#" target="_blank" class="footer-social-link">
                            <i class="bx bxl-instagram"></i>
                        </a>
                        <a href="#" target="_blank" class="footer-social-link">
                            <i class="bx bxl-linkedin"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <h3 class="footer-title">Contato</h3>
                    <small>
                        <p class="footer-description">
                            Telefone: (31) 99999-9999<br />
                            Email: naquelenaipao@uorak.com<br />
                            Conselheiro Lafaiete - MG
                        </p>
                    </small>
                    <a href="#openModalSendMessage" class="button">
                        Enviar mensagem
                        <i class="bx bx-right-arrow-alt about_icon"></i>
                    </a>
                </div>
            </div>
            <hr class="hr-footer-secondary" />
            <span class="footer-copy"
                >&copy; Copyright 2022 Naquele NaiPão</span
            >
        </footer>
        <div id="openModalSendMessage" class="modal">
            <div id="container-modal">
                <a href="#close" title="Fechar" class="close">X</a>
                <p class="footer-title">Enviar Mensagem</p>
                <form name="form_contact">
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" placeholder="Digite seu nome" autocomplete="off" />
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Digite seu Email" autocomplete="off" />
                    <label for="cpf">Cpf</label>
                    <input type="text" name="cpf" id="cpf" placeholder="Digite seu cpf" autocomplete="off" />
                    <label for="sex">Sexo</label>
                    <span>
                        <label for="male">Masculino</label>
                        <input type="radio" name="sex" id="male" value="masculino" />
                        <label for="female">Feminino</label>
                        <input type="radio" name="sex" id="female" value="feminino" />
                    </span>
                    <label for="phone">Telefone</label>
                    <input type="tel" name="phone" id="phone" placeholder="Digite seu telefone" />
                    <label for="rate">Avaliação</label>
                    <select name="rate" id="rate">
                        <option value="-1">Selecione uma opção</option>
                        <option value="Bom">Bom</option>
                        <option value="Regular">Regular</option>
                        <option value="Ruim">Ruim</option>
                    </select>
                    <label for="message">Mensagem</label>
                    <textarea name="message" id="message" cols="30" rows="4" placeholder="Envie-nos um elogio, sugestão ou o que desejar"></textarea>
                    <!-- Load Inicio -->
                    <div id="loadSendMsg">
                        <div id="load" class="loader" style="display: none"></div>
                    </div>
                    <!-- Load Fim -->
                    <button class="button" type="submit" id="btnSendMsg">
                        Enviar
                    </button>
                </form>
            </div>
        </div>
    </body>
    <script src="/public/js/navbar.js"></script>
    <script src="/public/js/sendMessage.js"></script>
</html>
