.about-container {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 4.25rem;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.about-title {
    font-weight: 600;
    font-size: 2.2rem;
    color: var(--text-color);
    position: relative;
}

.about-subtitle {
    margin-bottom: 2.5rem;
    margin-top: 1.875rem;
    font-size: 0.95rem;
    color: var(--paragraphy-color-light);
    font-weight: 400;
}

.about-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0.9375rem;
    margin-bottom: 3.125rem;
    justify-content: center;
    color: var(--paragraphy-color-light);
    font-size: 0.80rem;
    font-weight: 500;
}

.about-list li {
    transition: 0.5s;
}

.about-list li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    border-radius: 0.3125rem;
    margin-bottom: 0.25rem;
    margin-right: 0.9375rem;
    background-color: var(--primary-color);
}

.about_list li:hover {
    margin-left: 8px;
}

.about-img {
    display: none;
}

.button {
    width: fit-content;
    display: flex;
    background: var(--primary-color);
    color: var(--white-color);
    padding: 0.562rem 0.937rem;
    border-radius: 0.375rem;
    font-weight: 500;
    font-size: 0.92rem;
    transition: 0.3s;
}

.button:hover {
    background-color: var(--primary-color-hover);
}

.about-icon {
    vertical-align: sub;
    font-size: 1.5rem;
    transition: 0.5s;
}

.button:hover .about-icon {
    transform: translateX(0.35rem);
}

@media screen and (min-width: 767px) {
    .about-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .about-img {
        display: block;
    }
    .about-data {
        justify-self: end;
        align-self: center;
    }
    .about_subtitle {
        max-width: 47ch;
    }
}