#container-modal {
    display: flex;
    flex-direction: column;
}

#container-modal form {
    display: flex;
    flex-direction: column;
}

#container-modal form label {
    margin-bottom: .1rem;
    font-weight: var(--font-medium);
}

#container-modal form span {
    margin-bottom: .5rem;
    display: flex;
    align-items: center;
}

#container-modal form span #male {
    margin-right: 1rem;
    display: flex;
}

#container-modal form span label {
    font-weight: var(--font-normal);
    margin-bottom: .5rem;
    margin-right: .2rem;
}

#container-modal form select {
    margin-bottom: .5rem;
    font-size: 0.9rem;
    outline: none;
    padding: .2rem 0;
}

#container-modal form input, textarea {
    margin-bottom: .5rem;
    border: none;
    padding: .2rem 0;
    border-radius: .3rem;
    background-color: var(--white-color-secondary);
    outline: none;
}

#container-modal form textarea {
    resize: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: var(--paragraphy-font);
    background: #69686883;
    z-index: 99999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
    opacity: 1;
    pointer-events: auto;
}

.modal > div {
    width: 55vw;
    position: relative;
    margin: 1.3% auto;
    padding: 3rem;
    background: #fff;
}

.close {
    position: absolute;
    width: 30px;
    right: -15px;
    top: -20px;
    text-align: center;
    line-height: 30px;
    margin-top: 5px;
    background: #ff4545;
    border-radius: 50%;
    font-size: 16px;
    color: #8d0000;
}

@media screen and (max-width: 768px) {
    .modal > div {
        width: 80vw;
        position: relative;
        margin: 1.3% auto;
        padding: 3rem;
        background: #fff;
    }
}