<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="shortcut icon" href="/public/assets/faviconPng.png" type="image/x-icon">
    <title>Padaria do Manoel</title>
</head>
<body class="container">
    <header class="header">
        <div id="logo">
            <img src="/public/assets/logoProfileWithoutName.png" alt="logo" />
        </div>
        <div id="menus">
            <nav id="menus-list">
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Produtos
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contato
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Sobre
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main class="main">

    </main>
    <footer class="footer">
        <small>
            &copy; Desenvolvido por André Luiz Barros
        </small>
    </footer>
</body>
</html>